.confirm-dialog {
  width: 400px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .1s linear;
  word-break: break-all;
  padding: 25px;
}

.confirm-dialog-hidden {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.confirm-dialog-title {
  font-size: 35px;
  font-weight: bold;
}

.confirm-dialog-message {
  flex-grow: 1;
  font-size: 20px;
}

.confirm-dialog-control button {
  border: none;
  border-radius: 5px;
  font-size: 17px;
  padding: 7px 0;
  min-width: 25%;
  margin-top: 20px;
  color: white;
  opacity: 0.9;
}

.confirm-dialog-control button+button {
  margin-left: 15px;
}

.confirm-dialog-control button:hover {
  opacity: 0.8;
}

.confirm-dialog-control button:focus {
  border: none;
  outline: none;
}

.confirm-dialog-control button:active {
  opacity: 1;
}

.confirm-dialog-control button.cancel {
  background-color: #c1c1c1;
}

.confirm-dialog-control button.ok {
  background-color: rgb(221, 87, 65);
}
